<h1><%= @team.name %></h1>
Team Motto: <h1><%= @team.motto %></h1>
<h1><% @heroes.each do |hero| %></h1>
<ul>
Hero Name: <%= hero.name%>
Hero Power: <%= hero.power%>
Hero Biography: <%= hero.bio%>
</ul>
<% end %>



