<h1><%= @team.name %></h1>
Team Motto: <h1><%= @team.motto %></h1>
<h1><% @super_heroes.each do |hero| %></h1>
<ul>
<li>Hero Name: <%= hero.name%></li>
<li>Hero Power: <%= hero.power%></li>
<li>Hero Biography: <%= hero.bio%></li>
</ul>
<% end %>



